*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width:1000px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
}
.text-logo 
{
  display: flex;
  align-items: center;
}
.logo {
  font-size: 3rem;
  margin-right: 1rem;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.left {
  display: flex;
  flex-direction: column;
}
.left h1 {
  align-self: flex-end;
}
ul{
  display: flex;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  margin-left: 1rem;
  padding:0.5rem;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}
.active {
  color: #007ff4;
}
h1{
  font-weight: bold;
  font-size: 2.5rem;
}
.banner, .banner img {
  width: 100%;
  margin: 1rem 0;
}
.row {
  display: flex;
  justify-content: space-between;
  /* padding-right: 3rem; */
  padding: 2rem;
}
.col
{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.col img {
  width: 100%;
}
.col p {
  font-weight: bold;
}
.text-center {
  text-align: center;
  margin-bottom: 1rem;
}
.text-center button{
  font-size: 1.5rem;
  padding: 0.5rem 1rem ;
  background-color: #007ff4;
  border: none;
  color: white;
  
}
@media screen and (max-width:768px) {
  .row {
    flex-direction: column;
  }
  .text-logo{
    margin-bottom: 1rem;
    font-weight: bold;
    align-items: center;
  }
  nav{
    flex-direction: column;
    align-items: center;
  }
  .col {
    width: 100%;
    margin-bottom: 1rem;
  }  
  .hidden-mobile{
    display: none;
  }
}